
<div class="rounded-md card-grid gap-6 tracking-tight mt-8">
  <% products.map(product => { %> 
    <article
      class="bg-neutral-800 text-neutral-200 shadow-md p-4 rounded-md hover:scale-105 transition-transform ease-in-out duration-200"
    >
      <!-- category is optional -->
      <% if (product.category?.name && product.category?._id) { %> 

      <p class="px-1 text-neutral-300 text-sm">
        <a
          class="hover:underline"
          href="/categories/<%= product.category._id %>"
        >
          <%= product.category.name %>
        </a>
      </p>
      <% } %>

      <p class="px-1 font-bold"><%= product.name %></p>
      <p class="px-1">$<%= product.price %></p>
      <p class="px-1 mb-4 text-sm"><%= product.quantity %> In Stock</p>

      <!-- buttons: view / edit / delete  -->
      <div class="flex justify-end gap-1">
        <a class="" href="/inventory/<%= product._id %>"
          ><button
            class="bg-neutral-700 rounded-md px-4 py-1 text-sm text-neutral-200 hover:bg-lime-600 transition-all duration-300 ease-in-out hover:-translate-y-1"
          >
            View
          </button></a
        >
        <a class="" href="/inventory/<%= product._id %>/update"
          ><button
            class="bg-neutral-700 rounded-md px-4 py-1 text-sm text-neutral-200 hover:bg-lime-600 transition-all duration-300 ease-in-out hover:-translate-y-1"
          >
            Edit
          </button></a
        >
        <a class="" href="/inventory/<%= product._id %>/delete"
          ><button
            class="bg-neutral-700 rounded-md px-4 py-1 text-sm text-neutral-200 hover:bg-lime-600 transition-all duration-300 ease-in-out hover:-translate-y-1"
          >
            Delete
          </button></a
        >
      </div>
    </article>
  <% }); %>

</div>