<%- include('partials/header') %>

<section class="my-16">
  <!-- category name -->
  <h2
    class="font-extrabold text-3xl leading-negative-2 tracking-tight md:text-5xl md:tracking-tighter md:leading-negative"
  >
    <%= category.name %>
  </h2>

  <p class="mt-4 mb-8 max-w-screen-md"><%= category.description %></p>

  <!-- action buttons: edit & delete -->
  <div class="flex justify-start gap-1">
    <a class="" href="/categories/<%= category._id %>/update"
      ><button
        class="bg-neutral-700 rounded-md px-4 py-2 text-sm text-neutral-200 hover:bg-lime-600 transition-all duration-300 ease-in-out hover:-translate-y-1"
      >
        Edit Category
      </button></a
    >
    <a class="" href="/categories/<%= category._id %>/delete"
      ><button
        class="bg-neutral-700 rounded-md px-4 py-2 text-sm text-neutral-200 hover:bg-lime-600 transition-all duration-300 ease-in-out hover:-translate-y-1"
      >
        Delete Category
      </button></a
    >
  </div>

  <!-- category name -->
  <h2
    class="font-extrabold text-2xl leading-negative-2 mt-16 tracking-tight md:text-3xl md:tracking-tighter md:leading-negative"
  >
    Products in <%= category.name %>
  </h2>

  <!-- product grid -->
  <%- include('partials/productGrid', { products }) %>
</section>

<%- include('partials/footer') %>
