<%- include('partials/header') %>

<section class="my-16">
  <h3 class="text-3xl font-bold uppercase"><%= message %></h3>
  <h2 class="mb-4">Status: <%= error.status %></h2>
  <pre><%= error.stack %></pre>
</section>

<%- include('partials/footer') %>
