<%- include('partials/header') %>
<section class="my-16" aria-label="hero">
  <h2
    class="leading-negative-2 md:leading-negative text-center text-3xl font-extrabold tracking-tight md:text-start md:text-5xl md:tracking-tighter"
  >
    <%= title %>
  </h2>
  <p class="mt-2 text-center md:text-start">
    Please fill out and submit the form below
  </p>

  <form
    action=""
    method="POST"
    enctype="multipart/form-data"
    class="mx-auto mt-16 rounded-md bg-neutral-800 p-8 shadow-md"
  >
    <!-- category dropdown -->
    <div class="mb-4">
      <label
        for="category"
        class="mb-2 block text-sm font-bold text-neutral-100"
        >Category</label
      >
      <select
        name="category"
        id="category"
        required
        class="block w-full rounded-lg border border-gray-300 bg-neutral-700 p-2.5 text-sm text-neutral-50 focus:border-blue-600 focus:ring-blue-600"
      >
        <% categories.forEach(category => { %>
        <option value="<%= category._id %>" <% if (category.selected) { %>
          selected<% } %>> <%= category.name %>
        </option>
        <% }) %>
      </select>
    </div>

    <!-- name -->
    <div class="mb-4">
      <label for="name" class="mb-2 block text-sm font-bold text-neutral-100"
        >Name</label
      >
      <input
        type="text"
        name="name"
        id="name"
        required
        class="block w-full rounded-lg border border-gray-300 bg-neutral-700 p-2.5 text-sm text-neutral-50 focus:border-blue-600 focus:ring-blue-600"
        value="<%= product?.name ? product.name : '' %>"
      />
    </div>

    <!-- description -->
    <div class="mb-4">
      <label
        for="description"
        class="mb-2 block text-sm font-bold text-neutral-100"
        >Description</label
      >
      <input
        type="text"
        name="description"
        id="description"
        required
        class="block w-full rounded-lg border border-gray-300 bg-neutral-700 p-2.5 text-sm text-neutral-50 focus:border-blue-600 focus:ring-blue-600"
        value="<%= product?.description ? product.description : '' %>"
      />
    </div>

    <!-- price -->
    <div class="mb-4">
      <label for="price" class="mb-2 block text-sm font-bold text-neutral-100"
        >Price</label
      >
      <input
        type="text"
        name="price"
        id="price"
        required
        class="block w-full rounded-lg border border-gray-300 bg-neutral-700 p-2.5 text-sm text-neutral-50 focus:border-blue-600 focus:ring-blue-600"
        value="<%= product?.price ? product.price : '' %>"
      />
    </div>

    <!-- quantity in stock -->
    <div class="mb-4">
      <label
        for="quantity"
        class="mb-2 block text-sm font-bold text-neutral-100"
        >Quantity</label
      >
      <input
        type="text"
        name="quantity"
        id="quantity"
        required
        class="block w-full rounded-lg border border-gray-300 bg-neutral-700 p-2.5 text-sm text-neutral-50 focus:border-blue-600 focus:ring-blue-600"
        value="<%= product?.quantity ? product.quantity : '' %>"
      />
    </div>

    <!-- picture view & upload -->
    <div class="my-8">
      <img
        src="<%= product?.image ? product.image : '' %>"
        alt="<%= product?.name ? product.name : '' %>"
        class="my-4 h-32 w-32 rounded-md object-cover"
      />

      <input type="file" name="image" class="text-neutral-100" />
    </div>

    <!-- errors -->
    <% errors.forEach(error => { %>
    <p class="text-red-500"><%= error.msg %></p>
    <% }) %>

    <!-- submit -->
    <button
      class="rounded-md bg-blue-600 px-4 py-2 text-sm font-bold text-neutral-100 transition-all duration-300 ease-in-out hover:-translate-y-1 hover:bg-blue-600"
    >
      Submit
    </button>
  </form>
</section>

<%- include('partials/footer') %>
