<%- include('partials/header') %>

<section class="my-16">
  <!-- product name -->
  <h2
    class="font-extrabold text-3xl leading-negative-2 tracking-tight md:text-4xl md:tracking-tighter md:leading-negative"
  >
    <%= product.name %>
  </h2>

  <!-- product category -->
  <p class="text-neutral-500 text-sm mb-4">
    <a class="hover:underline" href="/categories/<%= product.category._id %>">
      <%= product.category.name %>
    </a>
  </p>

  <p class="mt-4 max-w-screen-md"><%= product.description %></p>
  <p class="mt-4 text-xl font-bold">$<%= product.price %></p>
  <p class="mb-8 text-sm"><%= product.quantity %> In Stock</p>

  <!-- action buttons: edit & delete -->
  <div class="flex justify-start gap-1">
    <a class="" href="/inventory/<%= product._id %>/update"
      ><button
        class="bg-neutral-700 rounded-md px-4 py-2 text-sm text-neutral-200 hover:bg-lime-600 transition-all duration-300 ease-in-out hover:-translate-y-1"
      >
        Edit
      </button></a
    >
    <a class="" href="/inventory/<%= product._id %>/delete"
      ><button
        class="bg-neutral-700 rounded-md px-4 py-2 text-sm text-neutral-200 hover:bg-lime-600 transition-all duration-300 ease-in-out hover:-translate-y-1"
      >
        Delete
      </button></a
    >
  </div>
</section>

<%- include('partials/footer') %>
